{% extends 'store/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
<br>
<br>
<div class="container shadow p-5">
    <div class="row">
        <h3>KELVI MANAVADARIA</h3>
        <hr>
    </div>
    <div class="row">
       <div class="col-3 p-3">
           
           <img src="{% static 'app/images/profile.jpg' %}" height="200px" width="200px" alt="" style="border-radius: 100px; border: solid 7px gray;">
       </div>
      
       <div class="col-9"> 
       
        <h4>About These Project </h4>
        <p>I had created these ecommerece shopping website for my intership at Exposys Data Lab. And as per the task given I had created a multipage responsive website.I had used html,css,bootstrap,django for creating these website.I am so grateful to these intership where I was able to learn so much</p>
        
        
        

      </div>
       
             

    </div>
    <div class="row">
    <hr>
        <h4>About Me</h4>
        <p>I am a student currently pursuing B.Tech in Computer field in Charotar University of Science and Technology . I am enthusiasts about tehnology and learning new things . I had my major intreset in cloud computing and web development . I know html , css , bootstrap and django along with java, c++, c, golang and python as programming languages . I also have basic knowledge of linux and networking . Right now I am learning basics of cloud computing and AWS </p>
    </div>
    <div class="row">
        <hr>
        <h4>Email</h4>
        <a href="#" style="color: black;">kelvimanavadaria@gmail.com</a>
        
    </div>
    <div class="row p-3">
        <hr>
        <h4>Contact</h4>
        <p>9558075798</p>
        <p>7862036686</p>
    </div>
    <div class="row">
        <hr>
        <h4>My More Projects</h4>
        <a href="https://github.com/KelviManavadaria-17">Github for Project</a>
    </div>
</div>
{% endblock main-content %}