{% extends 'store/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 
  
  <div class="col-sm-9 offset-sm-1">
      <h3 class="m-3 p-3" style="text-align: center;">Well Done!!!</h3>
      <hr>
    <p style="text-align: center;">An email has been send with instructions to reset your password. <b>Check your Email</b></p>
    <img src="https://www.bing.com/th/id/OGC.742aac67ee18877c2eca6749cb4d179d?pid=1.7&rurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f1405642%2fscreenshots%2f3045094%2f043_success-mail.gif&ehk=i%2bAZX9KDYFJkiE5NQRfjxI6iy2USFFohdsa%2beepunvw%3d" alt="" style="align-items: center; margin: 10px; padding: 10px;margin-left: 150px;">
  </div>
 </div>
</div>
{% endblock main-content %}