{% extends 'store/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 
  
  <div class="col-sm-9 offset-sm-1">
      <h3 class="m-3 p-3" style="text-align: center;">Well Done!!!</h3>
      <hr>
    <p style="text-align: center;">An email has been send with instructions to reset your password. <b>Check your Email</b></p>
    <img src="https://th.bing.com/th/id/OIP.NWxSNFOWy6bp6BT2VnykWAAAAA?pid=ImgDet&rs=1" alt="" style="align-items: center; margin: 10px; padding: 10px;margin-left: 150px;">
  </div>
 </div>
</div>
{% endblock main-content %}