{% extends 'store/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 
  
  <div class="col-sm-9 offset-sm-1">
      <h3 class="m-3 p-3" style="text-align: center;">Reset Password Completed!!</h3>
      <hr>
    <img src="https://www.bing.com/th/id/OGC.35f323bc5b41dc4269001529e3ff1278?pid=1.7&rurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f39201%2fscreenshots%2f3694057%2fnutmeg.gif&ehk=6XF00j7VT8cxMyfAZ0yQ8gCG%2bO6wOVRbD8MPjW%2bAEhU%3d" alt="" style="margin-left: 150px;">

  </div>
 </div>
</div>
{% endblock main-content %}